<h1>Users Details</h1>

<hr/>

<div>
  <h4>First Name:</h4>
  <%= @user.name %>
</div>

<div>
  <h4>Last Name:</h4>
  <%= @user.last_name %>
</div>

<div>
  <h4>Email:</h4>
  <%= @user.email %>
</div>

<div>
  <h4>Role:</h4>
  <%= @user.role.name %>
</div>

<hr>

<div class="form-group">
	<%= link_to 'Edit', edit_user_path(@user), class: 'btn btn-primary' %>
	<%= link_to 'Back', users_path, class: 'btn' %>
</div>