<%= form_for(@record) do |f| %>
  <% if @record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@record.errors.count, "error") %> prohibited this record from being saved:</h2>

      <ul>
      <% @record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field" style="display:none;">
    <%= f.text_field :user_id, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json', :value => current_user.id %> 
  </div>

  <div class="field">
    <%= f.label :round %><br>
    <%= f.number_field :round, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json' %>
  </div>
  <div class="field">
    <%= f.label :begin_cash %><br>
    <%= f.text_field :begin_cash %>
  </div>
  <div class="field">
    <%= f.label :expenses %><br>
    <%= f.text_field :expenses %>
  </div>
  <div class="field">
    <%= f.label :revenue %><br>
    <%= f.text_field :revenue %>
  </div>
  <div class="field">
    <%= f.label :inventory_penalty %><br>
    <%= f.text_field :inventory_penalty %>
  </div>
  <div class="field">
    <%= f.label :order_penalty %><br>
    <%= f.text_field :order_penalty %>
  </div>
  <div class="field">
    <%= f.label :end_cash %><br>
    <%= f.text_field :end_cash %>
  </div>
  <button id="endcash">Calculate Ending Balance</button>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
