<% @record.errors.full_messages.each do |msg| %>
  <div class="alert alert-danger">
    <li><%= msg %></li>
  </div>
<% end %>

<%= form_for(@record, html: {class: 'form-horizontal' }) do |f| %>
  <div class="form-group" style="display:none;">
    <%= f.text_field :user_id, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json', :value => current_user.id, class: 'form-control' %> 
  </div>

  <div class="form-group">
    <%= f.label :round %><br>
    <%= f.number_field :round, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json', class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :begin_cash %><br>
    <%= f.text_field :begin_cash, class: 'form-control' %>
  </div>
  <div id="beginCashError" style="color: red;"></div>
  <div class="form-group">
    <%= f.label :expenses %><br>
    <%= f.text_field :expenses, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :revenue %><br>
    <%= f.text_field :revenue, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :inventory_penalty %><br>
    <%= f.text_field :inventory_penalty, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :order_penalty %><br>
    <%= f.text_field :order_penalty, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :end_cash %><br>
    <%= f.text_field :end_cash, class: 'form-control' %>
    <button id="endcash" class="btn btn-success">Calculate Ending Balance</button>
  </div>

  <hr>

  <div class="form-group">

    <%= f.submit class: "btn btn-primary" %>

    <a href="<%= url_for @record %>" class="btn">
      Cancel
    </a>

  </div>

<% end %>
