<% if @record.errors.any? %>
  <div class="alert alert-danger">
    <% @record.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>


<%= form_for(@record, html: {role: 'form' }) do |f| %>
  <div class="form-group" style="display:none;">
    <%= f.text_field :user_id, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json', :value => current_user.id, class: 'form-control' %> 
  </div>

  <div class="form-group">
    <label>Round</label>
    <%= f.number_field :round, :'data-remote' => true, :'data-url' => '/records/begincash', :'data-type' => 'json', class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Beginning Cash Balance</label>
    <%= f.text_field :begin_cash, class: 'form-control' %>
  </div>
  <div id="beginCashError" style="color: red;"></div>
  <div class="form-group">
    <label>Expenses</label>
    <%= f.text_field :expenses, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Revenue</label>
    <%= f.text_field :revenue, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Inventory Penalty</label>
    <%= f.text_field :inventory_penalty, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Order Penalty</label>
    <%= f.text_field :order_penalty, class: 'form-control' %>
  </div>
  <div class="form-group">
    <label>Ending Cash Balance</label>
    <%= f.text_field :end_cash, class: 'form-control' %><br/>
    <button id="endcash" class="btn btn-success">Calculate Ending Balance</button>
  </div>

  <hr>

  <div class="form-group">

    <%= f.submit class: "btn btn-primary" %>

    <a href="<%= url_for @record %>" class="btn">
      Cancel
    </a>

  </div>

<% end %>
