
<h1>Records</h1>

<div class="pull-right"  style="margin-bottom: 20px;">
     <%= link_to 'Create New Record', new_record_path, class: 'btn btn-primary' %>
</div>


<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>User</th>
      <th>Round</th>
      <th>Begining Cash Balance</th>
      <th>Expenses</th>
      <th>Revenue</th>
      <th>Inventory Penalty</th>
      <th>Order Penalty</th>
      <th>Ending Cash Balance</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @records.each do |record| %>
      <tr>
        <td><%= record.user.name%></td>
        <td><%= record.round %></td>
        <td><%= record.begin_cash %></td>
        <td><%= record.expenses %></td>
        <td><%= record.revenue %></td>
        <td><%= record.inventory_penalty %></td>
        <td><%= record.order_penalty %></td>
        <td><%= record.end_cash %></td>
        <td colspan="3">
          <%= link_to 'Show', record, class: 'btn btn-default'%>
          <% if can? :update, record %>
            <%= link_to edit_record_path(record), class: 'btn btn-primary' do %>
              <i class='fa fa-pencil-square-o'></i>
            <% end %>
          <% end %>
          <% if can? :destroy, record %>
          
          <div style="display:inline-block;">
            <button class="delete-confirm btn btn-danger"><i class="fa fa-trash-o"></i></button>
            <%= link_to record, method: :delete, class: 'delete-button' do%>
              <i class='fa fa-pencil-square-o'></i>
            <% end %>
          </div>
          <% end %>
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<div class="pull-right">
  <%= will_paginate @records, renderer: BootstrapPagination::Rails %>
</div>
