<div class="col-md-6 col-md-offset-3" style="padding-bottom: 3em;">
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
          <h2>Record Details</h2>
      </div>

      <div class="panel-body">
        <div class="form-group">
          <h4>Round:</h4>
          <%= @record.round %>
        </div>

        <div class="form-group">
          <h4>Beginning Cash Balance:</h4>
          <%= @record.begin_cash %>
        </div>

        <div class="form-group">
          <h4>Expenses:</h4>
          <%= @record.expenses %>
        </div>

        <div class="form-group">
          <h4>Revenue:</h4>
          <%= @record.revenue %>
        </div>

        <div class="form-group">
          <h4>Inventory Penalty:</h4>
          <%= @record.inventory_penalty %>
        </div>

        <div class="form-group">
          <h4>Order Penalty:</h4>
          <%= @record.order_penalty %>
        </div>

        <div class="form-group">
          <h4>Ending Cash Balance:</h4>
          <%= @record.end_cash %>
        </div>

        <hr>
        <div class="form-group">

          <%= link_to 'Edit', edit_record_path(@record), class: 'btn btn-primary' %>
          <%= link_to 'Back', root_path, class: 'btn btn-danger' %>
        </div>
      </div>
    </div>
  </div>
</div>






