<h1>Record Details</h1>

<hr>

<div>
  <h4>Round:</h4>
  <%= @record.round %>
</div>

<div>
  <h4>Beginning Cash Balance:</h4>
  <%= @record.begin_cash %>
</div>

<div>
  <h4>Expenses:</h4>
  <%= @record.expenses %>
</div>

<div>
  <h4>Revenue:</h4>
  <%= @record.revenue %>
</div>

<div>
  <h4>Inventory Penalty:</h4>
  <%= @record.inventory_penalty %>
</div>

<div>
  <h4>Order Penalty:</h4>
  <%= @record.order_penalty %>
</div>

<div>
  <h4>Ending Cash Balance:</h4>
  <%= @record.end_cash %>
</div>

<div>
  <h4>User:</h4>
  <%= @record.user.name %>
</div>

<hr>

<%= link_to 'Edit', edit_record_path(@record), class: 'btn btn-primary' %>
<%= link_to 'Back', records_path, class: 'btn' %>
