<!DOCTYPE html>
<html>
<head>
  <title>Erpgame</title>
  <link rel="stylesheet" type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.2/normalize.min.css'/>
  <link rel="stylesheet" type="text/css" href='//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.css'/>
  <link rel='stylesheet' type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel='stylesheet' type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"/>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/sweetalert/0.5.0/sweet-alert.min.js"></script>
  <%= csrf_meta_tags %>

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>

	<% if alert %>
	<div id="notice_wrapper">
		<p class="alert"><%= alert %></p>
	</div>
	<% elsif notice %>
		<div id="notice_wrapper">
			<p class="notice"><%= notice %></p>
		</div>
	<% end %>

	<% unless current_page?(root_path) %>
		<%= render 'layouts/header'; %>
	<% end %>

	<div id="content-div">
		<%= yield %>
	</div>


<script>
	$(document).ready(function(){
		setTimeout(function() {
			$('#notice_wrapper').fadeOut("slow", function() {
				$this.remove();
			});
		}, 4500 );
	});
</script>
</body>
</html>
